<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/nav.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}" />
</head>
<body>
<div class="navbar">
    <a href="/">홈</a>
    <a href="/users/me">마이 페이지</a>
    <div class="right">
        <div th:if="${user != null}">
            <div style="display: flex">
                <span style="color: white" th:text="${user.nickname} + '님 환영합니다'"></span>
                <form action="/users/logout" method="post">
                    <button type="submit">로그아웃</button>
                </form>
                <form action="/users/delete" method="post">
                    <button type="submit">회원탈퇴</button>
                </form>
                <form action="/users/update" method="get">
                    <button type="submit">회원정보수정</button>
                </form>
            </div>
        </div>
        <div th:if="${user == null}">
            <a href="/users/login">로그인</a>
            <a href="/users/signup">회원가입</a>
        </div>
    </div>
</div>
<div class="login-container">
    <h2>Login</h2>
    <form th:action="@{/users/login}" method="post" th:object="${userLoginRequest}">
        <div>
            <label for="loginId">Login ID</label>
            <input type="text" id="loginId" th:field="*{loginId}" placeholder="ID"/>
            <div th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}" class="error"></div>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" th:field="*{password}" placeholder="password"/>
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></div>
        </div>
        <div>
            <button type="submit">로그인</button>
        </div>
    </form>
</div>
</body>
</html>
