<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>홈</title>
    <link rel="stylesheet" th:href="@{/css/nav.css}" />
</head>
<body>
<div class="navbar">
    <a href="/">홈</a>
    <a href="/users/me" class="active">마이 페이지</a>
    <div class="right">
        <div th:if="${user != null}">
            <div style="display: flex">
                <span style="color: white" th:text="${user.nickname} + '님 환영합니다'"></span>
                <form action="/users/logout" method="post">
                    <button type="submit">로그아웃</button>
                </form>
                <form action="/users/delete" method="post">
                    <button type="submit">회원탈퇴</button>
                </form>
                <form action="/users/update" method="get">
                    <button type="submit">회원정보수정</button>
                </form>
            </div>
        </div>
        <div th:if="${user == null}">
            <a href="/users/login">로그인</a>
            <a href="/users/signup">회원가입</a>
        </div>
    </div>
</div>
<h2 style="text-align: center">내 할일 목록</h2>
<div class="task-container">
    <div th:each="task : ${tasks}" class="task-card">
        <a th:href="@{/tasks/{id}(id=${task.id})}"><h2 th:text="${task.title}">할 일 제목</h2></a>
        <p th:class="${task.completed ? 'completed' : 'not-completed'}"
           th:text="${task.completed ? '완료됨' : '완료되지 않음'}"></p>
        <p>생성날짜: <span th:text="${task.createdDate.toLocalDate()}">Created Date</span>
            <span th:text="${task.createdDate().toLocalTime()}">Created Date</span></p>
        <p>마감날짜: <span th:text="${task.deadline().toLocalDate()}">Created Date</span>
            <span th:text="${task.deadline().toLocalTime()}">Created Date</span></p>
        <p th:text="'좋아요 수: ' + ${task.likesNum}">좋아요 수</p>
    </div>
</div>
<div class="task-container">
    <a th:href="@{/tasks/create}"><h2>새로운 할 일 생성</h2></a>
</div>
</body>
</html>
