<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>홈</title>
    <link rel="stylesheet" th:href="@{/css/nav.css}" />
</head>
<body>
<div class="navbar">
    <a href="/">홈</a>
    <a href="/mypage" class="active">마이 페이지</a>
    <div class="right">
        <div th:if="${user != null}">
            <div style="display: flex">
                <span style="color: white" th:text="${user.nickname} + '님 환영합니다'"></span>
                <form action="/logout" method="post">
                    <button type="submit">로그아웃</button>
                </form>
                <form action="/cancel" method="post">
                    <button type="submit">회원탈퇴</button>
                </form>
            </div>
        </div>
        <div th:if="${user == null}">
            <a href="/login">로그인</a>
            <a href="/signup">회원가입</a>
        </div>
    </div>
</div>
<h2 style="text-align: center">내 할일 목록</h2>
<div class="task-container">
    <div th:each="task : ${user.task}" class="task-card">
        <a th:href="@{/task/{id}(id=${task.id})}"><h2 th:text="${task.title}">할 일 제목</h2></a>
        <p th:class="${task.completed ? 'completed' : 'not-completed'}"
           th:text="${task.completed ? '완료됨' : '완료되지 않음'}"></p>
    </div>
    <div class="task-card">
        <a th:href="@{/task/create}"><h2>새로운 할 일 작성하기</h2></a>
    </div>
</div>
</body>
</html>
